Repository anhthang/keebtalogue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

fix: view collection, update svg and credits
  .github/FUNDING.yml
  content/about.md
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/wishlist.vue
  pages/collection/artisan/[collection].vue
  pages/collection/keycap/[collection].vue
  public/svg/404.svg
  public/svg/500.svg
  public/svg/access-denied.svg
  public/svg/access_denied.svg
  public/svg/cancel.svg
  public/svg/empty.svg
  public/svg/search.svg
  server/api/collections/[collection].get.ts
  server/api/makers/[maker]/sculpts/[sculpt]/colorways.post.ts
  server/api/users/[id]/collections/[collection].get.ts
Due: eslint --fix, prettier --write

fix: add message to users to clear outdated artisans, middleware for collection page
  package.json
  pages/collection/artisan/[collection].vue
  pages/collection/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove items-center to have full body width
  components/ArtisanCollectorGuide.vue
  components/DraggableCard.vue
  components/MakerCard.vue
  components/PreOrderKeycaps.vue
  components/SculptCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/collection/artisan/[collection].vue
  pages/collection/keycap/[collection].vue
Due: eslint --fix

fix: correctly determine editability for editor/maker role based on assigned pages
  components/MakerProfileActions.vue
  components/SculptProfileActions.vue
  components/modal/ColorwayCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/index.vue
  stores/user.js
Due: eslint --fix

fix: add cursor pointer when hovering colorway image, remove unused tailwindcss
  components/DraggableCard.vue
  components/MakerCard.vue
  components/SculptCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/collection/artisan/[collection].vue
  pages/collection/keycap/[collection].vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: copy trading text
  components/WishlistPreview.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  server/api/makers/[maker]/sculpts/[sculpt]/colorways.post.ts
Due: eslint --fix

fix: editable is reactive object
  components/MakerProfileActions.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/keycap/[profile]/[keycap]/index.vue
Due: eslint --fix

fix: toggle to show all makers, colorway details
  components/MenuSettings.vue
  components/modal/ColorwayCard.vue
  package.json
  pages/artisan/maker/index.vue
  pages/collection/keycap/[collection].vue
  pages/keycap/[profile]/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

chore(release): v2.1.0
  package.json
Due: prettier --write

fix: trading text not updated after removal
  components/DraggableCard.vue
  components/WishlistPreview.vue
Due: eslint --fix

fix: add footer with version and build revision, add profile name for keycap tracker page
  components/SculptCard.vue
  components/layout/Footer.vue
  layouts/desktop.vue
  layouts/mobile.vue
  nuxt.config.ts
  pages/index.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: remove truncate name, expand the content and keeping footer/subtitle consistently positioned
  components/DraggableCard.vue
  components/SculptCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/collection/artisan/[collection].vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: use shorter keycap profile name from db for some components
  components/PreOrderKeycaps.vue
  package.json
  pages/collection/keycap/[collection].vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
  server/api/collections/[collection].get.ts
  server/api/keycaps.get.ts
  server/api/keycaps/[profile]/[keycap].get.ts
  server/api/statistics.get.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: prevent duplicate collection items
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  server/api/users/[id]/collections/[collection]/items.post.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: add colorway to collection message, split user collections from user api
  components/modal/CollectionForm.vue
  components/modal/FeedbackForm.vue
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/collection/artisan/[collection].vue
  pages/collection/index.vue
  pages/collection/keycap/[collection].vue
  server/api/users/[id].get.ts
  server/api/users/[id]/collections.get.ts
  stores/user.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: sort artisan collection, rename component and button label
  components/SaveToCollection.vue
  components/modal/ColorwayCard.vue
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/collection/artisan/[collection].vue
  pages/keycap/[profile]/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: migrate to @nuxt/content v3 with pre-rendered pages
  .gitignore
  components/layout/Footer.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: consistent profile menu, decorated header app name
  components/ProfileMenu.vue
  components/layout/Footer.vue
  components/layout/Sider.vue
  components/modal/CollectionForm.vue
  layouts/mobile.vue
  nuxt.config.ts
  pages/collection/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
Due: eslint --fix

feat: move artisan to another collection
  components/SaveToCollection.vue
  package.json
  pages/collection/artisan/[collection].vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: exclude properties not in db when editting keycap
  package.json
  server/api/keycaps/[profile]/[keycap].post.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add sculpt revision of, sculpt collection to group them together
  components/SculptCard.vue
  nuxt.config.ts
  package.json
  server/api/makers/[maker].get.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: rename project and move config to app runtime for easier NUXT_APP_ env overrides
  README.md
  app.vue
  components/WishlistPreview.vue
  components/layout/Footer.vue
  components/layout/Sider.vue
  components/modal/FeedbackForm.vue
  components/og-image/Artisan.vue
  components/og-image/Keycap.vue
  components/og-image/Website.vue
  content/about.md
  content/policy.md
  layouts/mobile.vue
  nuxt.config.ts
  package.json
  pages/collection/artisan/[collection].vue
  pages/index.vue
  public/CNAME
  public/logo/laart.png
  yarn.lock
Due: eslint --fix, prettier --write
