Repository anhthang/keebtalogue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update dependencies, use menu item group for appearance
  commitlint.config.mjs
  components/layout/Appearance.vue
  eslint.config.mjs
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: fix typos, update deps
  layouts/mobile.vue
  nuxt.config.ts
  package.json
  pages/artisan/maker/[maker]/index.vue
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(assets): update logo, favicon
  components/WishlistPreview.vue
  layouts/desktop.vue
  layouts/mobile.vue
  package.json
  public/favicon.ico
  public/icon.png
  public/logo-filled.png
  public/logo-outlined.png
  public/logo-text.png
  yarn.lock
Due: eslint --fix, prettier --write

chore: add funding, minor fix footer
  .github/FUNDING.yml
  components/layout/Footer.vue
  layouts/desktop.vue
  package.json
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: section margin
  layouts/desktop.vue
Due: eslint --fix

fix: move marketplace and wishlist config out of user store
  components/MarketplaceFilter.vue
  components/MarketplaceListing.vue
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  components/layout/Footer.vue
  package.json
  stores/user.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: update dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(assets): add Namong logo
  public/logo/namong.png
Due: none

chore(assets): add creasi-workshop, keysense logo
  package.json
  public/logo/creasi-workshop.png
  public/logo/keysense.png
  yarn.lock
Due: prettier --write

feat: add actions to sculpt page
  components/layout/Footer.vue
  components/layout/Sider.vue
  components/modal/ColorwayCard.vue
  nuxt.config.ts
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: supabase warning for insecue data
  app.vue
Due: eslint --fix

fix: remove contributors, update homepage
  app.vue
  components/KeycapLiveGroupBuys.vue
  components/RecentlyAdded.vue
  package.json
  pages/artisan/maker/[maker]/index.vue
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: trade wishlist
  components/WishlistSettings.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(assets): add laart logo
  package.json
  public/logo/laart.png
  yarn.lock
Due: prettier --write

fix: show more items for widescreen
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  pages/account/settings.vue
  pages/artisan/wishlist.vue
Due: eslint --fix

chore(assets): update scraft logo
  package.json
  public/logo/s-craft-studio.png
  yarn.lock
Due: prettier --write

fix: add disclaimer for seller do not accept paypal g&s
  components/WishlistPreview.vue
  components/WishlistSettings.vue
Due: eslint --fix

fix: quick access to generate wishlist image from sider
  components/layout/Sider.vue
  pages/artisan/marketplace.vue
  pages/index.vue
Due: eslint --fix

fix: use `modern-screenshot` instead of `html2canvas`
  package.json
  pages/index.vue
  utils/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: changing to primevue
  app.vue
  components/MakerCard.vue
  layouts/desktop.vue
  nuxt.config.ts
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

refactor: move components
  app.vue
  components/MakerHelpfulLinks.vue
  components/layout/Footer.vue
  nuxt.config.ts
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/index.vue
Due: eslint --fix

refactor: moving more to primevue
  components/ArtisanCollectorGuide.vue
  components/RecentlyAdded.vue
  package.json
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

refactor: change form to primevue
  components/layout/RightHeader.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/Login.vue
  components/modal/MakerForm.vue
  components/modal/SaleForm.vue
  components/modal/SculptForm.vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

refactor: marketplace, wishlist image
  components/ArtisanCollectorGuide.vue
  components/MarketplaceFilter.vue
  components/MarketplaceListing.vue
  components/RecentlyAdded.vue
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: checkbox can click label
  components/WishlistSettings.vue
  components/modal/ColorwayForm.vue
  components/modal/KeycapKitForm.vue
Due: eslint --fix

fix: panel header, account settings, invert logo
  components/ArtisanCollectorGuide.vue
  components/KeycapLiveGroupBuys.vue
  components/MakerCard.vue
  components/MarketplaceListing.vue
  components/RecentlyAdded.vue
  components/account/Profile.vue
  pages/account/settings.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
Due: eslint --fix

refactor: keycap components, message, colorway price, add maker doc id, use pt header class
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  components/account/Profile.vue
  components/layout/Footer.vue
  components/layout/RightHeader.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/Login.vue
  components/modal/MakerForm.vue
  components/modal/SaleForm.vue
  components/modal/SculptForm.vue
  pages/[...slug].vue
  pages/account/settings.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: add keycap, right header menu
  components/KeycapLiveGroupBuys.vue
  components/layout/Appearance.vue
  components/layout/RightHeader.vue
  components/modal/KeycapForm.vue
  components/modal/MakerForm.vue
  components/modal/SaleForm.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/index.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  server/api/keycaps/[profile]/[keycap].post.ts
Due: eslint --fix

fix: panel pt class
  components/BackToArtisanMakers.vue
  components/layout/RightHeader.vue
  pages/[...slug].vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

refactor: desktop layout, removing antdv
  app.vue
  components/MenuSettings.vue
  components/WishlistPreview.vue
  components/layout/Sider.vue
  components/modal/FeedbackForm.vue
  layouts/desktop.vue
  layouts/error.vue
  nuxt.config.ts
  package.json
  pages/artisan/collection/[collection].vue
  pages/calendar.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: simple mobile ui, revamp later
  components/layout/Sider.vue
  layouts/mobile.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: marketplace filter, change appearance
  components/MarketplaceFilter.vue
  components/MenuSettings.vue
  components/layout/Sider.vue
  layouts/desktop.vue
  nuxt.config.ts
  pages/account/settings.vue
  yarn.lock
Due: eslint --fix

fix: dark mode, card title size, background, smaller text help
  components/BackToArtisanMakers.vue
  components/MenuSettings.vue
  components/modal/CollectionForm.vue
  components/modal/FeedbackForm.vue
  layouts/desktop.vue
  layouts/error.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/wishlist.vue
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: prefix icons, keycap sales chart, rename components
  components/LatestArtisans.vue
  components/MakerHelpfulLinks.vue
  components/PreOrderKeycaps.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
Due: eslint --fix

fix: remove container class
  components/BackToArtisanMakers.vue
  layouts/desktop.vue
  layouts/error.vue
  pages/[...slug].vue
  pages/account/settings.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: copy image toast, add some error images
  components/BackToArtisanMakers.vue
  components/MarketplaceListing.vue
  components/MenuSettings.vue
  components/WishlistPreview.vue
  components/layout/Sider.vue
  layouts/error.vue
  pages/[...slug].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/wishlist.vue
  pages/keycap/[profile]/index.vue
  public/logo/gmk-mtnu.png
  public/svg/404.svg
  public/svg/500.svg
  public/svg/empty.svg
  utils/index.ts
Due: eslint --fix

fix: colorway card details, hide label on slim menu, message icon
  components/ColorwayDescriptions.vue
  components/MenuSettings.vue
  components/WishlistSettings.vue
  components/account/Profile.vue
  components/layout/Sider.vue
  components/modal/ColorwayCard.vue
  pages/account/settings.vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
Due: eslint --fix

fix: search via command palette, use emit to hide dialog and refresh after update
  components/CommandPalette.vue
  components/MenuSettings.vue
  components/SearchBox.vue
  components/layout/Sider.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayCard.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SaleForm.vue
  components/modal/SculptForm.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: email hidden, img not fit the cover
  components/CommandPalette.vue
  components/MenuSettings.vue
  components/layout/Sider.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

chore: standardize names
  components/layout/Sider.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SaleForm.vue
  components/modal/SculptForm.vue
  pages/artisan/collection/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{json,md}
