Repository anhthang/keebtalogue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

feat: using nuxt-image to optimize images
  components/BackToArtisanMakers.vue
  components/MakerCard.vue
  components/MarketplaceListing.vue
  components/WishlistPreview.vue
  components/layout/Sider.vue
  layouts/error.vue
  layouts/mobile.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/wishlist.vue
  pages/keycap/[profile]/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: use secondary type for action buttons, og-image headline
  components/MakerProfileActions.vue
  components/SculptProfileActions.vue
  components/og-image/Artisan.vue
  components/og-image/Keycap.vue
  components/og-image/Website.vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/[keycap]/index.vue
Due: eslint --fix

Dynamic OG Image Implementation (#3)
  app.vue
  components/BackToArtisanMakers.vue
  components/MakerCard.vue
  components/MakerProfileActions.vue
  components/MarketplaceListing.vue
  components/SculptProfileActions.vue
  components/WishlistPreview.vue
  components/layout/Sider.vue
  components/modal/ColorwayForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  components/og-image/Artisan.vue
  components/og-image/Keycap.vue
  components/og-image/Website.vue
  layouts/error.vue
  layouts/mobile.vue
  nuxt.config.ts
  package.json
  pages/[...slug].vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/wishlist.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
  public/website-card.png
  yarn.lock
Due: eslint --fix, prettier --write

fix: artisan maker founded should be a string, rename `intro` to `bio`
  components/modal/MakerForm.vue
  components/og-image/Artisan.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/index.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

feat: maker nationality dropdown
  app.vue
  components/modal/FeedbackForm.vue
  components/modal/MakerForm.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add quick action to copy card
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: using database filters for pagination with large datasets
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/keycap/[profile]/index.vue
  server/api/makers/[maker].get.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: eslint possibly 'undefined' errors
  server/api/collections/[collection].get.ts
  server/api/keycaps.get.ts
  server/api/keycaps/[profile]/[keycap].get.ts
  server/api/keycaps/[profile]/[keycap]/kits/[id].delete.ts
  server/api/makers/[maker].post.ts
  server/api/users/[id].get.ts
  server/api/users/[id].post.ts
  server/api/users/[id]/collection-items.get.ts
  server/api/users/[id]/collections.get.ts
  server/api/users/[id]/collections/[collection].delete.ts
  server/api/users/[id]/collections/[collection].get.ts
  server/api/users/[id]/collections/[collection].post.ts
  server/api/users/[id]/collections/[collection]/items/[item].delete.ts
Due: eslint --fix

fix: limit pinned makers to 6. set artisan collector guides to last for mobile
  components/MakerCard.vue
  package.json
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: use dataview for paging on some pages
  components/ArtisanCollectorGuide.vue
  components/LatestArtisans.vue
  components/MarketplaceListing.vue
  components/PreOrderKeycaps.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: edit sculpt
  package.json
  pages/artisan/maker/index.vue
  server/api/makers/[maker]/sculpts/[sculpt].post.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: maker actions for empty documents
  components/MakerProfileActions.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: pin favorite sculpts for pinned makers
  components/MakerCard.vue
  components/MakerProfileActions.vue
  components/modal/PinSculpt.vue
  package.json
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  stores/user.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: add separated row for pinned sculpts
  components/SculptCard.vue
  pages/artisan/maker/[maker]/index.vue
Due: eslint --fix

fix: use customize pins for artisan makers page
  components/MakerCard.vue
  components/modal/PinMaker.vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
Due: eslint --fix

fix: incorrect colorway added to collection when changing sort
  components/AddToCollectionPopup.vue
  components/MakerCard.vue
  components/modal/ColorwayCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  yarn.lock
Due: eslint --fix

fix: update ogimage headline
  CHANGELOG.md
  components/og-image/Artisan.vue
  components/og-image/Keycap.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(release): v2.0.0
  package.json
Due: prettier --write

feat: add action to change collection item status
  components/AddToCollectionPopup.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayCard.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  server/api/users/[id]/collections/[collection]/items/[item].post.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: add indicator for items unavailable for exchange
  components/DraggableCard.vue
  components/WishlistPreview.vue
  pages/artisan/collection/[collection].vue
Due: eslint --fix

fix: show customize pins maker for authenticated users
  pages/artisan/maker/index.vue
Due: eslint --fix

fix: improved wishlist selection based on collection type
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  package.json
  server/api/marketplace.get.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: unable to remove collection items for un-registered users
  pages/artisan/collection/[collection].vue
Due: eslint --fix

fix: refined collection type to provide a more tailored and enhanced wishlist generation experience
  components/MakerProfileActions.vue
  components/WishlistSettings.vue
  components/modal/CollectionForm.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  stores/user.js
Due: eslint --fix

fix: some actions is missing, changing naming convention
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  package.json
  pages/artisan/collection/[collection].vue
  stores/user.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: trying to fix icon size is too small in build
  components/DraggableCard.vue
Due: eslint --fix

fix: change some word for better consistency
  components/MarketplaceFilter.vue
  components/MarketplaceListing.vue
  components/WishlistSettings.vue
  components/modal/CollectionForm.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  server/api/marketplace.get.ts
  stores/user.js
Due: eslint --fix

Enhanced Collection Management and Wishlist Generation (#4)
  components/AddToCollectionPopup.vue
  components/DraggableCard.vue
  components/MakerProfileActions.vue
  components/MarketplaceFilter.vue
  components/MarketplaceListing.vue
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayCard.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  server/api/marketplace.get.ts
  server/api/users/[id]/collections/[collection]/items/[item].post.ts
  stores/user.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: missing changes for some words in wishlist page
  components/WishlistPreview.vue
  components/WishlistSettings.vue
Due: eslint --fix

fix: copy trading text
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add number of items in a collection
  package.json
  pages/artisan/collection/index.vue
  server/api/users/[id].get.ts
  server/api/users/[id]/collections.get.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add toggle button to show all makers
  pages/artisan/collection/index.vue
  pages/artisan/maker/index.vue
Due: eslint --fix

feat(collection): moving collection to parent folder, drop localstorage support for anonymous users
  components/WishlistPreview.vue
  components/layout/Drawer.vue
  components/layout/Sider.vue
  components/modal/ColorwayCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/marketplace.vue
  pages/collection/[collection].vue
  pages/collection/index.vue
  stores/user.js
Due: eslint --fix

feat(collection): add collection category, move current artisan collection to subfolder
  components/modal/CollectionForm.vue
  pages/collection/artisan/[collection].vue
  pages/collection/index.vue
Due: eslint --fix

fix: my collections now requires login to use
  components/layout/Drawer.vue
  components/layout/Sider.vue
  pages/collection/index.vue
  public/logo/wheat-keys.png
Due: eslint --fix

fix: migrate user collection items to use from foreign table for accurate data
  components/DraggableCard.vue
  components/MarketplaceListing.vue
  components/WishlistSettings.vue
  pages/collection/artisan/[collection].vue
  pages/collection/index.vue
  server/api/marketplace.get.ts
  server/api/users/[id]/collection-items.get.ts
  server/api/users/[id]/collections/[collection].get.ts
  utils/index.ts
Due: eslint --fix

feat(collection): add keycap to collection
  components/AddToCollectionPopup.vue
  components/modal/ColorwayCard.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

feat(collection): manage keycap collection
  pages/collection/keycap/[collection].vue
  server/api/users/[id]/collections/[collection].get.ts
Due: eslint --fix

fix: wishlist preview image
  components/DraggableCard.vue
Due: eslint --fix

fix: artisan collection sorting, update homepage
  components/ArtisanCollectorGuide.vue
  components/LatestArtisans.vue
  components/PreOrderKeycaps.vue
  package.json
  pages/collection/artisan/[collection].vue
  pages/index.vue
Due: eslint --fix, prettier --write
