Repository anhthang/keebtalogue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: added classes for active item menu since they're not supported
  components/MenuSettings.vue
  components/layout/Sider.vue
  pages/artisan/maker/index.vue
Due: eslint --fix

fix: save keycap, font size, dialog width
  components/BackToArtisanMakers.vue
  components/MarketplaceListing.vue
  components/MenuSettings.vue
  components/layout/Sider.vue
  components/modal/ColorwayCard.vue
  components/modal/KeycapForm.vue
  layouts/desktop.vue
  layouts/error.vue
  package.json
  pages/[...slug].vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/wishlist.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: dont need user_shared_collections anymore since RLS is updated
  server/api/collections/[collection].get.ts
  server/api/marketplace.get.ts
  server/api/users/[id]/collections.post.ts
  server/api/users/[id]/collections/[collection].post.ts
Due: eslint --fix

fix: sider hover background on dark theme, keycap dates and status color
  components/layout/Sider.vue
  components/modal/ColorwayCard.vue
  components/modal/KeycapForm.vue
  components/modal/SaleForm.vue
  pages/keycap/[profile]/[keycap]/index.vue
  utils/index.ts
Due: eslint --fix

fix: small card footer button
  components/MakerCard.vue
  components/MenuSettings.vue
  components/WishlistPreview.vue
  components/modal/CollectionForm.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
Due: eslint --fix

fix: collection warning, card cover height on small screens
  components/MakerCard.vue
  components/MenuSettings.vue
  components/WishlistPreview.vue
  components/modal/CollectionForm.vue
  components/modal/FeedbackForm.vue
  components/modal/Login.vue
  layouts/mobile.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix

fix: update sidebar and feedback form
  components/MenuSettings.vue
  components/layout/Sider.vue
  components/modal/FeedbackForm.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: adding @tailwindcss/typography to solve markdown content issue
  content/about.md
  package.json
  pages/[...slug].vue
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: lazy loading img, add paginator for some components
  components/ArtisanCollectorGuide.vue
  components/LatestArtisans.vue
  components/MakerCard.vue
  components/MarketplaceListing.vue
  components/PreOrderKeycaps.vue
  components/WishlistPreview.vue
  content/about.md
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
Due: eslint --fix, prettier --write

fix: add colorways count, text-ellipsis, description break lines
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/index.vue
  server/api/makers/[maker].get.ts
Due: eslint --fix

feat: add maker verified flag
  components/modal/MakerForm.vue
  pages/artisan/maker/[maker]/index.vue
Due: eslint --fix

fix: keycap tracker, update about and privacy policy page
  components/BackToArtisanMakers.vue
  components/MarketplaceListing.vue
  components/WishlistPreview.vue
  components/layout/Sider.vue
  components/modal/MakerForm.vue
  content/about.md
  content/policy.md
  layouts/error.vue
  pages/[...slug].vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/index.vue
  public/svg/search.svg
Due: eslint --fix, prettier --write

feat: implementing forms
  components/WishlistPreview.vue
  components/modal/CollectionForm.vue
  components/modal/FeedbackForm.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: adding zod resolver and message for forms
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
Due: eslint --fix

chore: upgrade deps to resolve valibot
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: use v-model to sync form changes
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: footer actions must be in center, missing v-model modifier
  components/modal/CollectionForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/SculptForm.vue
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  yarn.lock
Due: eslint --fix, prettier --write

Forms validation (#2)
  components/WishlistPreview.vue
  components/modal/CollectionForm.vue
  components/modal/ColorwayForm.vue
  components/modal/FeedbackForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  package.json
  pages/artisan/maker/[maker]/[sculpt].vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: incorrect request for keycaps by profile, command palette focus on input
  components/CommandPalette.vue
  components/layout/Sider.vue
  components/modal/ColorwayForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/index.vue
  server/api/makers/[maker]/sculpts/[sculpt].post.ts
Due: eslint --fix

chore(assets): add gothcaps logo
  package.json
  public/logo/gothcaps.png
  yarn.lock
Due: prettier --write

fix: copy colorway card to capture full content and not showing scrollbar, smaller card width
  components/modal/ColorwayCard.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  public/logo/keysense.png
  yarn.lock
Due: eslint --fix, prettier --write

feat: add breadcrumbs
  components/PanelBreadcrumb.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  yarn.lock
Due: eslint --fix, prettier --write

fix: small button actions
  components/PanelBreadcrumb.vue
  components/WishlistPreview.vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
Due: eslint --fix

fix: add tip for long wishlist
  components/WishlistPreview.vue
  pages/keycap/[profile]/[keycap]/kit.vue
Due: eslint --fix

fix: clean code
  components/DraggableCard.vue
  components/WishlistPreview.vue
  package.json
  pages/artisan/wishlist.vue
  public/watermark-dark.png
  public/watermark-light.png
  yarn.lock
Due: eslint --fix, prettier --write

fix: cannot read properties of undefined (published)
  pages/artisan/collection/[collection].vue
Due: eslint --fix

fix: wishlist preview, make discord is first choice as preferred contact
  components/DraggableCard.vue
  components/WishlistPreview.vue
  components/WishlistSettings.vue
  components/account/Profile.vue
  utils/index.ts
Due: eslint --fix

fix: drawer layout for mobile
  components/MenuSettings.vue
  components/PanelBreadcrumb.vue
  components/layout/Drawer.vue
  components/layout/Sider.vue
  layouts/mobile.vue
Due: eslint --fix

fix: default menu mode based on device
  components/layout/Sider.vue
Due: eslint --fix

fix: 6 cols for xl screen is too small
  components/DraggableCard.vue
  components/WishlistPreview.vue
  components/layout/Drawer.vue
  pages/artisan/collection/[collection].vue
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
Due: eslint --fix

fix: optimize panel actions for mobile
  components/MakerHelpfulLinks.vue
  components/MakerProfileActions.vue
  components/MenuSettings.vue
  components/PanelBreadcrumb.vue
  components/SculptProfileActions.vue
  components/layout/Drawer.vue
  components/layout/Sider.vue
  components/modal/Login.vue
  package.json
  pages/artisan/collection/[collection].vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  utils/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: contact is required for marketplace listing collection
  components/MakerProfileActions.vue
  components/SculptProfileActions.vue
  components/modal/CollectionForm.vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/[keycap]/index.vue
Due: eslint --fix

chore(assets): add wild keycaps logo. fix nationality form validation
  components/WishlistPreview.vue
  components/modal/MakerForm.vue
  package.json
  public/logo/hello-caps.png
  public/logo/wild-keycaps.png
  yarn.lock
Due: eslint --fix, prettier --write

fix: marketplace listing ui, hide wishlist image for mobile
  components/MarketplaceListing.vue
  components/WishlistPreview.vue
  components/layout/Drawer.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  public/svg/access_denied.svg
Due: eslint --fix

fix: show remaining caps
  components/MarketplaceListing.vue
Due: eslint --fix

fix: confirmation button reject props
  components/DraggableCard.vue
  components/MarketplaceListing.vue
  pages/artisan/collection/[collection].vue
  pages/keycap/[profile]/[keycap]/kit.vue
Due: eslint --fix

feat: artisan ogimage
  components/og-image/Artisan.vue
  components/og-image/Website.vue
  nuxt.config.ts
  package.json
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/[sculpt].vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  yarn.lock
Due: eslint --fix, prettier --write

feat: keycap ogimage
  app.vue
  components/og-image/Keycap.vue
  components/og-image/Website.vue
  nuxt.config.ts
  pages/artisan/collection/index.vue
  pages/artisan/maker/[maker]/index.vue
  pages/artisan/maker/index.vue
  pages/artisan/marketplace.vue
  pages/artisan/wishlist.vue
  pages/index.vue
  pages/keycap/[profile]/[keycap]/index.vue
  pages/keycap/[profile]/[keycap]/kit.vue
  pages/keycap/[profile]/index.vue
  public/website-card.png
Due: eslint --fix

fix: better og-image template, add some instruction for description field
  components/modal/ColorwayForm.vue
  components/modal/KeycapForm.vue
  components/modal/KeycapKitForm.vue
  components/modal/MakerForm.vue
  components/modal/SculptForm.vue
  components/og-image/Artisan.vue
  components/og-image/Keycap.vue
  components/og-image/Website.vue
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{json,md}
